.App {
  display: block;
  justify-content: center;
  margin: 20px;
  padding: 0px 10px;
}

.Chart {
  width: 980px;
  margin: 20px;
}

.dropdownLabel{
  width: 300px;
  height: 30px;
}

.inputClass {
  width: 250px;
  height: 30px;
  margin: 20px;
}

.fromdatepick {
  width: 200px;
  height: 22px;
  margin: 20px;
}

.todatepick {
  width: 200px;
  height: 22px;
  margin: 20px 35px;
}


